/* .main-top-heading h3 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
    color: #252328;
    margin: 0;
    padding-bottom: 24px;
} */
.input-heading-os {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto';
    padding-bottom: 12px;
    text-align: center;
}