/* .font-size-data select {
    width: 100%;
    margin-bottom: 16px;
    border: none;
    padding: 12px 8px;
    background: #ddd;
    border-radius: 4px;
    color: #000;
}
.form-submit-os {
    display: flex;
    margin: auto;
    border: none;
    padding: 8px 16px;
    background: #777;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
} */