.review-navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1.5rem;
    border-bottom: 8px solid #EEECF0;
}

.review-data-os {
    /* height: 443px; */
    max-width: 574px;
    width: 100%;
    margin: auto;
    background: #DBDBDB;
    box-shadow: 0px 4px 17px rgb(0 0 0 / 14%);
    border-radius: 20px;
    padding: 16px;
}
.border-container {
    background: #F9F9F9;
    box-shadow: 0px 4px 17px rgb(0 0 0 / 14%);
    border-radius: 20px;
}

.review-navigation button {
    border: none;
    background: transparent;
    padding: 0;
}


/* Check box style start */
.review-options-os input:checked,
.review-options-os input:not(:checked) {
    position: absolute;
    left: -9999px;
}

.review-options-os input:checked+label,
.review-options-os input:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    display: inline-block;
}

.review-options-os input:checked+label:before,
.review-options-os input:not(:checked)+label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}

.review-options-os input:checked+label:after,
.review-options-os input:not(:checked)+label:after {
    content: "";
    width: 12px;
    height: 12px;
    background: #000;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.review-options-os input:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.review-options-os input:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

/* Check box style end */

.review-options-os {
    padding: 2rem 1.5rem;
}
.review-type-1 {
    padding-bottom: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid #A9A9A9;
}
.review-type-2 {
    padding-top: 2rem;
    padding-left: 2rem;
}

.review-action-buttons-os button {
    width: 100%;
    max-width: 281px;
    height: 49px;
    background: #fff;
    color: #000;
    border: 1px solid #000000;
    border-radius: 46px;
    margin-bottom: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 22px;
}
.review-action-buttons-os {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
}

.review-form-data-os {
    height: 96vh;
    display: flex;
    padding: 0;
    width: 98%;
    margin: 16px;
    background: #dfdbdbb8;
    border-radius: 16px;
}
.AddReview-section-os {
    display: flex;
    background: #252425;
    height: 100%;
}

.review-active-button {
    background-color: #000 !important;
    color: #fff !important;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.23) !important;
}
.review-navigation h5 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 26px;
    color: #252328;
    margin: 0;
}
.review-options-os label {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

@media screen and (max-width:768px) {
    .review-navigation h5 {
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }

    .review-options-os label {
        font-size: 14px;
        line-height: 18px;
    }

    .review-action-buttons-os button {
        width: 100%;
        max-width: 230px;
        height: 49px;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
    }
    .review-navigation {
        width: 100%;
        padding: 1.5rem 1.5rem;
    }
    .review-options-os {
        padding: 1.5rem;
    }
    .review-type-1 {
        padding-bottom: 1.5rem;
        padding-left: 1.5rem;
    }
    .review-type-2 {
        padding-top: 1.5rem;
        padding-left: 1.5rem;
    }
    .review-action-buttons-os {
        padding-top: 1.5rem;
    }
}

@media screen and (max-width:576px) {
    .review-data-os {
        max-width: 360px;
        width: 100%;
        padding: 12px;
    }
    .review-navigation h5 {
        font-weight: 600;
        font-size: 14px;
        line-height: 16px;
    }
    .review-navigation {
        width: 100%;
        padding: 12px;
    }
    .review-options-os {
        padding: 12px;
    }
    .review-options-os label {
        font-size: 12px;
        line-height: 16px;
    }
    .review-type-1 {
        padding-bottom: 12px;
        padding-left: 12px;
    }
    .review-type-2 {
        padding-top: 12px;
        padding-left: 12px;
    }
    .review-action-buttons-os {
        padding-top: 12px;
    }
    .review-action-buttons-os button {
        width: 100%;
        max-width: 150px;
        height: 35px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
    }
    .review-action-buttons-os button {
        width: 100%;
        max-width: 130px;
        height: 35px;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        margin-bottom: 12px;
    }
    .review-navigation button svg {
        width: 16px;
    }

    @media screen and (max-width:375px) {
        .review-data-os {
            max-width: 320px;
            width: 100%;
        }
    }

    @media screen and (max-width:320px) {
        .review-data-os {
            max-width: 300px;
            width: 100%;
        }
    }
}